div#canvas-wrapper {
  width: 100%;
  height: 750px;
  border: 1px solid var(--dark-gray);
  border-radius: 5px;
}
div#controls {
  margin-top: 10px;
}
canvas#three_d_canvas {
  outline: none;
}

:focus-visible {
  outline: none;
}
