.about-contact-section-wrapper {
  & .vertical-flex {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  & .surface-round-gray {
    margin: 0 1rem;
    padding: 20px 20px 40px 20px;
    border-radius: 5px;
    background-color: var(--vt-smoke-7t);

    & a {
      color: var(--vt-impactOrange-1s) !important;
    }
  }
}
