.accessibility-page-wrapper a:focus {
  outline: 0.15em dashed var(--themeHighlightColor);
  outline-offset: 2px;
  text-decoration: none;
}

.accessibility-content {
  padding-bottom: 30px;
}

.accessibility-content p {
  font-size: 1rem;
  line-height: 1.6;
  margin-bottom: 16px;
}

.accessibility-content h1,
.accessibility-content h2,
.accessibility-content h3,
.accessibility-content h4 {
  font-weight: 500;
}
