.citation {
  width: 100%;
  font-family: "Acherus", sans-serif;
  position: relative;
}

.citation .citation-tab-list {
  display: flex;
  margin: 0;
  padding: 0;
  gap: 0.25rem;
  list-style: none;
  border-bottom: 1px solid #ccc;
}

.citation .citation-tab {
  display: block;
  border: 0;
  border-bottom: 2px solid transparent;
  background: transparent;
  padding: 0.5rem 1rem;
  font-family: "gineso-condensed", sans-serif;
  font-size: 1.1rem;
}

.citation .citation-tab.is-active {
  border-bottom-color: var(--vt-maroon);
  color: var(--vt-maroon);
}

.citation .citation-tab[aria-selected="false"]:hover {
  color: var(--vt-maroon);
}

.citation .citation-tab-content {
  padding: 1rem 0.5rem 0 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.citation .citation-tab-content .copy-button-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.citation .citation-tab-content .copy-button-container .heading {
  font-size: 0.95rem;
  font-family: "Acherus", sans-serif !important;
  font-weight: 500;
  margin: 0;
}

.citation .citation-tab-content .copy-button-container .citation-copy-button {
  font-size: 13px;
  padding: 5px 10px;
  border-radius: 0.2rem;
}

.citation .citation-tab-content .citation-text {
  padding: 0.5rem;
  line-height: 1.35rem;
  font-family: "Lato", sans-serif !important;
  font-size: 0.88rem;
  overflow-wrap: anywhere;
  word-break: break-word;
}

.citation .citation-tab-content .citation-text a {
  overflow-wrap: anywhere;
  word-break: break-word;
}

.citation .citation-tab-content pre {
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  background-color: #f8f8f8;
  font-family: monospace;
}

.citation .citation-text .title {
  font-style: italic;
}
