details.card-details {
  width: 100%;
  border-radius: 0.3rem;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

details summary.card-summary {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 1rem 0.8rem;
  background-color: #861f41;
  color: white;
  font-size: 1.1rem;
  border-radius: 0.3rem;
  user-select: none;
  list-style: none;

  &:focus {
    outline: none;
  }

  &:focus-visible {
    outline: var(--focus_outline);
    outline-offset: var(--focus-outline__offset);
  }
}

details summary.card-summary .card-summary-icon {
  font-size: 1.2rem;
  width: 1.25rem;
  display: inline-flex;
}

details.card-details .expand-icon {
  margin-right: 0;
  margin-left: auto;
  font-size: 1.2rem;
  transition: 0.3s ease;
  transform: rotate(-90deg);
}

details.card-details[open] .expand-icon {
  transform: rotate(0deg);
}

details.card-details[open] summary.card-summary {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

details.card-details .card-content {
  padding: 1rem;

  .data-list {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .data-list-item {
    display: grid;
    grid-template-columns: minmax(140px, 25%) 1fr;
    align-items: start;
  }

  .data-list-item + .data-list-item {
    margin-top: 0.75rem;
  }

  .data-list-item > dt {
    grid-column: 1;
    margin: 0;
  }

  .data-list-item > dd {
    grid-column: 2;
    margin: 0;
  }

  .data-list-item > dd + dd {
    margin-top: 0.35rem;
  }

  .data-list-label {
    font-weight: 500;
    font-size: 1.0625rem;
    font-family: "gineso-condensed", sans-serif;
  }

  .data-list-value {
    font-family: "Lato", sans-serif !important;
    font-size: 0.88rem;
    word-break: break-word;
    & a,
    & a:visited {
      text-decoration: underline !important;
    }
  }
}

.section-wrapper {
  display: flex;
  flex-direction: column;
  height: 250px;
}
.map-wrapper.section-wrapper {
  margin-top: 2px;
}

.no-location {
  align-items: center;
  height: autos;
}

@media (max-width: 600px) {
  .card-content {
    padding: 0.7rem;
  }

  .card-content .data-list-item {
    gap: 0.35rem;
  }
}
