.card-details {
  width: 100%;
  border-radius: 0.3rem;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.card-summary {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 1rem 0.8rem;
  background-color: #861f41;
  color: white;
  font-size: 1.1rem;
  border-radius: 0.3rem;
  user-select: none;
  list-style: none;

  &:focus {
    outline: none;
  }

  &:focus-visible {
    outline: var(--focus_outline);
    outline-offset: var(--focus-outline__offset);
  }
}

.card-summary .card-summary-icon {
  font-size: 1.2rem;
  width: 1.25rem;
  display: inline-flex;
}

.card-summary .expand-icon {
  margin-right: 0;
  margin-left: auto;
  font-size: 1.2rem;
}

.card-details[open] .card-summary {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.card-content {
  padding: 1rem;

  .data-list {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .data-list-item {
    display: grid;
    grid-template-columns: minmax(140px, 25%) 1fr;
    gap: 0.75rem;
    padding: 0.31rem 0;
    align-items: start;
  }

  .data-list-label {
    font-weight: 500;
    font-size: 1.0625rem;
    font-family: "gineso-condensed", sans-serif;
    margin: 0;
  }

  .data-list-value {
    font-family: "Lato", sans-serif !important;
    font-size: 0.88rem;
    min-width: 0;
    word-break: break-word;
    margin: 0;
  }

  .data-list-value-text {
    font-family: "Lato", sans-serif !important;
    font-size: 0.88rem;
    margin: 0;
  }

  .data-list-value-text + .data-list-value-text {
    margin-top: 0.3rem;
  }
}

.section-wrapper {
  display: flex;
  flex-direction: column;
  height: 250px;
}
.map-wrapper.section-wrapper {
  margin-top: 2px;
}

.no-location {
  align-items: center;
  height: autos;
}

@media (max-width: 600px) {
  .card-content {
    padding: 0.7rem;
  }

  .card-content .data-list-item {
    gap: 0.35rem;
  }
}
