.collection-highlights-wrapper {
  --card-background-color: hsl(from var(--vt-smoke-9s) h s l);
  padding: 2.5rem 0;

  &a,
  &a:visited,
  &a:hover {
    color: black;
    text-decoration: none;
  }

  .category-container {
    margin-top: 5px;
    margin-bottom: 5px;
    height: 100%;
    display: flex;
    flex-direction: column-reverse; // Reversed so we keep the layout with "Explore" on the bottom but screen readers read "Explore [count] [title]"
    justify-content: space-between;
    flex-wrap: nowrap;
    text-align: center;
    border-radius: 10px;
    overflow: hidden;
    outline-offset: 5px;

    transition: color 0.3s var(--transition-time-function),
      box-shadow 0.3s var(--transition-time-function),
      transform 0.3s var(--transition-time-function);
    transform: translateY(0);

    &:hover,
    &:focus,
    &:focus-visible {
      --boxShadowColor: hsl(from var(--themeHighlightColor) h s l / 0.4);
      box-shadow: -1px 2px 2px var(--boxShadowColor),
        -2px 4px 4px var(--boxShadowColor), 1px 6px 6px var(--boxShadowColor);
      transform: translateY(-2px);

      @media (prefers-reduced-motion: reduce) {
        transform: none;
      }

      .category-link {
        -webkit-text-stroke: 3px transparent;
        text-shadow: 0 0 6px transparent;
        background-color: var(--themeHighlightColor);
        transition: background-color 0.3s var(--transition-time-function),
          text-shadow 0.3s var(--transition-time-function);
      }
    }
  }

  .category-details,
  .category-link {
    background-color: hsl(from var(--card-background-color) h s l / 80%);

    color: white;
    paint-order: stroke fill;
    -webkit-text-fill-color: white;
    -webkit-text-stroke: 3px hsl(from var(--card-background-color) h s l / 30%);
    text-shadow: 0 0 6px var(--card-background-color);
  }

  .category-container .category-details {
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 4rem 32px;

    p {
      font-family: "Acherus", sans-serif;
      font-size: 1.25rem;
      text-wrap-style: balance;
    }

    & > :first-child {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
    }

    .highlight__count {
      font-size: 3.75rem;
      margin-bottom: 0rem;
      opacity: 1;
    }
  }

  .category-link {
    padding: 1.5rem 10px;
    margin: 0;
    border-top: 1px solid white;
    font-family: "gineso-condensed", sans-serif;
    font-size: 1.5rem;

    svg {
      margin-left: 1ch;
    }
  }
}
