.card--img-zoom {
  .card__img-wrapper img {
    transition: transform 0.5s ease;
    transform: scale(1.05);

    &.round-img {
      transform: scale(1.15);
    }
  }

  &:hover,
  &:focus,
  &:focus-within,
  &:focus-visible {
    .card__img-wrapper img {
      transform: scale(1.15);

      &.round-img {
        transform: scale(1.25);
      }
    }
  }
}

.featured-items__card {
  position: relative; /* Establishes a new stacking context for the pseudo-element */
  border: none;
  background-color: transparent;
  margin-bottom: 1rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  padding: 1rem;

  &:focus,
  &:focus-within,
  &:focus-visible {
    outline: 2px dashed #861f41;
    outline-offset: 3px;
  }

  a:first-child {
    position: static;

    &:link,
    &:visited,
    &:hover,
    &:focus,
    &:active {
      color: inherit;
      text-decoration: none;
    }

    &:focus,
    &:focus-visible {
      outline: none; /* Remove the default focus outline from the link since the card itself has a focus style */
    }

    &::after {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 10;
      pointer-events: auto;
      opacity: 0;
    }
  }

  a:not(:first-child),
  button {
    position: relative;
    z-index: 20; /* These elems can be interacted with without clicking the card's pseudo-elem */
  }

  .card__img-wrapper {
    overflow: hidden;
    margin-bottom: 0.5rem;
    border-radius: 50%;

    img {
      width: 100%;
      max-height: 40vh;
      aspect-ratio: 1/1;
      object-fit: cover;
    }
  }

  .card__body {
    padding: 0.5rem 5px 1rem 5px;
    text-align: center;
    flex-grow: 1;
    align-content: flex-start;
  }

  .card__title {
    font-weight: 500;
    font-size: 1.25rem;
    text-align: inherit;
    margin-bottom: 0.25rem;

    line-clamp: 3;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  .card__details {
    font-family: "Acherus", sans-serif;
  }
}

.featured-items {
  display: flex;
  flex-direction: column;
  width: 100%;

  ul {
    padding-left: 0;

    li {
      align-items: stretch;
    }
  }
}

@media (max-width: 768px) {
  .featured-items li:focus-visible::after {
    inset: -4px; /* expands dashed line evenly */
  }
}
