.card--img-zoom {
  .card__img-wrapper img {
    transition: transform 0.5s ease;
    transform: scale(1.05);

    &.round-img {
      transform: scale(1.15);
    }
  }

  &:hover,
  &:focus,
  &:focus-within,
  &:focus-visible {
    .card__img-wrapper img {
      transform: scale(1.15);

      &.round-img {
        transform: scale(1.25);
      }
    }
  }
}

.featured-items-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;

  ul {
    padding-left: 0;

    li {
      align-items: stretch;
    }
  }

  .featured-items__card {
    position: relative; /* Establish new stacking context for pseudo-elem */
    border: none;
    background-color: transparent;
    margin: 1rem 10vw;
    @media screen and (min-width: 576px) {
      margin: 1rem 0;
    }
    border-radius: 1rem;
    display: flex;
    flex-direction: column;

    &:focus,
    &:focus-within,
    &:focus-visible {
      outline: 2px dashed #861f41;
      outline-offset: 3px;
    }

    a:first-child {
      position: static;

      &:link,
      &:visited,
      &:hover,
      &:focus,
      &:active {
        color: inherit;
        text-decoration: none;
      }

      &:focus,
      &:focus-visible {
        outline: none; /* Card has a focus style for primary link's pseudo-elem */
      }

      &::after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 10;
        pointer-events: auto;
        opacity: 0;
      }
    }

    a:not(:first-child),
    button {
      position: relative;
      z-index: 20; /* Can interact without clicking the card's pseudo-elem */
    }
  }

  .card__img-wrapper {
    overflow: hidden;
    margin-bottom: 0.5rem;
    border-radius: 50%;
    margin: auto 1rem;
    box-shadow: -1px 0px 8px #0000004e;

    img {
      width: 100%;
      aspect-ratio: 1/1;
      object-fit: cover;
    }
  }

  .card__body {
    padding: 0.5rem 5px 1rem 5px;
    text-align: center;
    flex-grow: 1;
    align-content: flex-start;
  }

  .card__title {
    font-weight: 500;
    font-size: 1.2rem;
    @media screen and (min-width: 1200px) {
      font-size: 1.325rem;
    }
    text-align: inherit;
    margin-bottom: 0.25rem;
    text-wrap: balance;
    line-clamp: 4;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  .card__details {
    font-family: "Acherus", sans-serif;
    text-wrap: balance;
  }
}
