.home-static-image-wrapper img {
  width: 100%;
  max-height: min(200px, 20vh);
  object-fit: cover;
  margin-top: -36px; // Patch fix to avoid changing margins on every page's H1
}

.home-wrapper {
  & h1,
  h2 {
    font-family: "gineso-condensed", sans-serif;
    font-weight: 600;
    text-align: left;
  }

  & h1 {
    font-size: 2.5rem;
    padding: 1rem 0 0.25rem 0;

    @media (min-width: 992px) {
      font-size: 2.75rem;
      padding: 1.5rem 0 0.25rem 0;
    }
  }

  & h2 {
    font-size: 2rem;
    padding: 0.5rem 0 0.125rem 0;
    @media (min-width: 992px) {
      font-size: 2.25rem;
      padding: 0.75rem 0 0.125rem 0;
    }
  }

  .home-statement {
    font-size: 1rem;
    @media (min-width: 992px) {
      font-size: 1.25rem;
    }
    font-family: "Acherus", sans-serif;

    & a {
      &:visited {
        color: var(--hokieOrange);
      }
      &:hover,
      &:focus,
      &:active {
        color: var(---hokieOrangeHover);
      }
    }
  }

  .home-search-wrapper {
    padding: 0.5rem 4px; // 4px L/R padding to visually adjust for the (8px) box shadow
  }

  .home-nav-links {
    display: flex;
    flex-wrap: wrap;
    padding: 40px;
    gap: 1rem 3rem;
    justify-content: center;

    & a {
      color: var(--themeHighlightColor);
      font-family: "Acherus", sans-serif;
      font-weight: 600;
      font-size: 1.25rem;
      text-align: center;
      place-content: center;
      padding: 0.75rem;
      line-height: 1.75rem;
      border: 2px solid var(--themeHighlightColor);
      border-radius: 0.5rem;
      width: 14.5rem;
      text-decoration: none;

      &:hover,
      &:focus {
        color: white;
        background-color: var(--themeHighlightColor);
      }
    }
  }
}

.loading-screen {
  width: 100%;
  .loading-content {
    width: 250px;
    margin-left: calc(50% - (250px / 2));
    margin-top: calc(25% - (200px / 2));
    img {
      width: 100%;
    }
    p {
      font-family: "Acherus", sans-serif;
      font-size: 22px;
    }
    text-align: center;
  }
}
