.searchbar-wrapper {
  display: grid;
  grid-template-columns: auto max(2.75rem, 15vw);
  grid-template-areas: "txt btn";
  gap: 0.5rem;
  box-shadow: -1px 0px 8px #0000004e;
  border-radius: 6px;

  @media (min-width: 576px) {
    grid-template-columns: auto min(5.5rem, 15vw);
  }

  input {
    border-radius: 6px;
    border-width: 0;
    padding: 1rem min(5vw, 2rem);
    font-size: 1rem;
    &:focus-visible {
      outline-offset: 1px;
    }

    @media (min-width: 576px) {
      font-size: 1.125rem;
    }
  }

  button {
    margin: 0.25rem;
    border: 0;
    border-radius: 10px;
    color: var(--vt-hokieStone-1s);
    background-color: white;
    font-size: 1.375rem;
    transition: all 0.3s ease;
    outline-offset: 4px;

    &:hover,
    &:active,
    &:focus {
      background-color: var(--themeHighlightColor);
      color: white;
    }
  }
}
