.typography-wrapper {
  /* DEFAULTS */

  font-family: "Acherus", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  text-align: left;
  color: rgba(
    0,
    0,
    0,
    1
  ); // Prevent semantic.min.css from adding 87% opacity to button text

  /* CUSTOMIZATIONS */

  /** Semantic Elements */

  & h1,
  & .h1,
  & h2,
  & .h2,
  & h3,
  & .h3,
  & h4,
  & .h4,
  & h5,
  & .h5,
  & h6,
  & .h6 {
    font-family: "gineso-condensed", sans-serif;
    font-weight: 600;
    font-size: 1.125rem;
    text-align: left;
  }

  & h1,
  & .h1 {
    font-size: 2.5rem;
    padding: 1rem 0 0.25rem 0;

    @media (min-width: 1200px) {
      font-size: 2.75rem;
      padding: 1.5rem 0 0.25rem 0;
    }
  }

  & h2,
  & .h2 {
    font-size: 2rem;
    padding: 0.5rem 0 0.125rem 0;

    @media (min-width: 1200px) {
      font-size: 2.25rem;
      padding: 0.75rem 0 0.125rem 0;
    }
  }

  & h3,
  & .h3 {
    font-size: 1.75rem;

    @media (min-width: 1200px) {
      font-size: 1.875rem;
    }
  }

  & h4,
  & .h4 {
    font-size: 1.5rem;

    @media (min-width: 1200px) {
      font-size: 1.625rem;
    }
  }

  & h5,
  & .h5 {
    font-size: 1.25rem;

    @media (min-width: 1200px) {
      font-size: 1.375rem;
    }
  }

  & h6,
  & .h6 {
    font-weight: 400;
    text-decoration: underline;

    @media (min-width: 1200px) {
      font-size: 1.25rem;
    }
  }

  & p {
    line-height: 1.6;
  }

  & a {
    color: var(--hokieOrange);
    text-decoration: underline;

    &:visited {
      color: var(--hokieOrange);
    }
    &:hover,
    &:focus,
    &:active {
      color: var(---hokieOrangeHover);
    }
  }

  & table {
    width: 100%;
    margin-bottom: 1rem;
    color: #212529;
    font-family: "Acherus", sans-serif;

    & th,
    & td {
      font-family: "Acherus", sans-serif;
      padding: 0.75rem;
      border-top: 1px solid #dee2e6;
      vertical-align: top;
    }

    & caption {
      caption-side: top;
    }
  }

  /** Custom Classes **/

  .statement {
    font-size: 1.125rem;
    @media (min-width: 1200px) {
      font-size: 1.25rem;
    }
  }

  [class*="button-link"],
  [class*="button-link"]:visited {
    text-align: center;
    place-content: center;

    &,
    p,
    span,
    a {
      text-decoration: none;
      font-size: 1rem;
      font-weight: 500;
      font-family: inherit;
      white-space: nowrap;
      color: var(--themeHighlightColor);
    }

    height: fit-content;
    width: fit-content;
    align-self: center;
    padding: 0.75rem 1.5rem;
    border: var(--themeHighlightColor) solid 1px;
    border-radius: var(--button-border-radius);

    transition: color 0.3s var(--transition-time-function),
      box-shadow 0.3s var(--transition-time-function),
      transform 0.3s var(--transition-time-function);
    transform: translateY(0);

    outline-offset: 5px;
    background-color: white;

    &:hover,
    &:focus,
    &:focus-within,
    &:focus-visible {
      --boxShadowColor: hsl(
        from var(--themeHighlightColor) h calc(s * 0.3) calc(l * 0.8) / 0.4
      );
      box-shadow: -1px 2px 2px var(--boxShadowColor),
        -2px 4px 4px var(--boxShadowColor), 1px 6px 6px var(--boxShadowColor);
      transform: translateY(-2px);
      @media (prefers-reduced-motion: reduce) {
        transform: none;
      }
    }
  }

  .button-link--primary,
  .button-link--primary:visited,
  .button-link--primary:hover,
  .button-link--primary:focus,
  .button-link--primary:focus-within,
  .button-link--primary:focus-visible {
    &,
    p,
    span,
    a {
      color: white;
    }

    border: none;
    background-color: var(--themeHighlightColor);
  }

  .focusable,
  button,
  a {
    &:focus-visible {
      outline: var(--focus_outline);
      outline-offset: var(--focus-outline__offset);
    }
  }

  /* Forms & Inputs */

  input:not([type="radio"], [type="checkbox"]),
  textarea {
    width: 100%;
    padding: 12px;
    margin: calc(var(--focus-outline__offset) + 2px) 0;
    border-radius: var(--input-border-radius);
    outline: none;
    border: 1px solid var(--vt-grey-3s);

    transition: outline-color 0.3s var(--transition-time-function);

    &:focus-visible {
      border-color: var(--focus-color--input);
      outline: var(--focus-outline--input);
      outline-offset: var(--focus-outline__offset);
    }
  }

  textarea {
    resize: vertical;
  }

  input[type="radio"] {
    width: 1.125rem;
    height: 1.125rem;
    border-radius: 100%;
    overflow: hidden;
  }

  .radio-option {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 2px 4px;
    width: fit-content;
    gap: 8px;

    & label {
      margin-bottom: 0;
    }
  }

  .radio-option:has(input[type="radio"]:focus-visible),
  .radio-option:has(input[type="radio"]:hover) {
    border-radius: var(--input-border-radius);
    outline: var(--focus-outline--input);
    outline-offset: var(--focus-outline__offset);

    & input[type="radio"] {
      outline: none;
    }
  }

  .radio-group {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  /** Additional Scopes **/

  /* 
   * Secondary Pages: /metadata, /about, /permissions and [additional pages]
   * Donut-scoped to exclude the Contact block injected into /about and /permissions
   */
  @scope (*.secondary-page) to (.contact-section) {
    &:scope {
      h2 {
        border-bottom: 3px solid var(--hokieOrange);
        width: 100%;
      }
    }
  }
}
